html {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: 650px;
    border-radius: 500px;
}

.Address {
    text-align: center;
}

a.one {
    display: block;
    text-align: center;
}

.LanguagesTable{
    border: 1px solid black;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}